@import "Variables.scss";
@import "Commun.scss";
@import "Footer.scss";

.about{
    display: block;
    margin-top: $sectionspacingLg;
    .about-visible{
        display: flex;

        .title-container{
            width: 30%; //style commun à revoir 
            .title{
                padding-left:  $sectionPaddingLg;
            }
        }

        .sectionText{
            position: relative;
            padding : 0 $sectionPaddingLg; //TEMP???VARIABLE
            width: 70%; //style commun à revoir

            .titre{
                //font-family: 'Helvetica Neue LT Std 75 Bold';
                color:#3C3C3B;
                //letter-spacing: 1cm;
            }

            .ligne{
                border-left: 3px solid $blue;
                height: 80px;
                position: absolute;
                left: 2px;
                margin-left: 3px;
                top: 0;
                border-radius: 10px;
                margin-top: 7.5px;
            }
         

            @include logoPays;
            h1{
                margin-bottom: 20px;
            }
        }
    }
    .about-invisible{
        padding-bottom: 60px; //place le  bouton revenir plus au bas
        margin: 20px 0px;
        position: relative;

        @include keyframes(fadeIn){
            0%{
                opacity: 0;
                }
            50%{
                opacity: 0.5;
                }
            100%{
                opacity: 1;
            }
        }
        @include animate(fadeIn, 0.8s, linear, 1);

        .about-branch{
            display: flex;
            .fill{
                width: 30%;
            }
            .branch-details{
                width: 70%;
                padding : 0 $sectionPaddingLg;

                h1{
                    margin-bottom: 20px;
                }
            }
        }

        .btnUp{
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
            padding: 8px 10px;
            border: 1px solid $blue;
            border-radius: 50%;
            background: none;
            .arrowUp{
                color: $blue;
            }

            &:hover{
                cursor: pointer;
                background: $blue;
                .arrowUp{
                    color: $white;
                }
            }
        }

    }

}

/*Alice carousel*/
.alice-carousel {
    position: relative;
    max-width: 100%;
    margin-top: 50px;

    &__wrapper{
        width:90%;
        margin: auto;
    }
    
    li{
        padding-bottom: 70px;
    }

    //Modifier la position des flèches 
    &__prev-btn, &__next-btn{
        position: absolute;
        top: 45%;
        width: auto;

        padding: 0 !important;
        
        span{
            font-size: 20px;
            padding: 0px 5px;
            border-radius: 50%;
            border: 1px solid $black;  
            color: $black;
        }
    }

    &__next-btn{
        right: 0; 
        padding: 0 !important;
        transform: translateY(-45%); 
    }
    &__prev-btn{    
        padding: 0 !important;
        transform: translateY(-45%); 
    }

    &__next-btn-item{
        padding: 0 !important;

    }
    &__prev-btn-item{
        padding: 0 !important;
    }
}


.item{
    margin: auto;
    height: 225px;
    width: 225px;
    border-radius: 50%;
    background: $grey-slider;
    position: none; 
    overflow: hidden;
    
    img{
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        width: 100%;
        height: 100%;
        object-fit: contain; 
    }
    
    .emp-btn, .employeeInfo{
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        text-align: center;
    }

    .employeeInfo{
        //display: none;
        bottom: 0;
        text-align: center;
        
        @include keyframes(fadeIn){
            0%{
                opacity: 0;
                }
            50%{
                opacity: 0.5;
                }
            100%{
                opacity: 1;
            }
        }
        @include animate(fadeIn, 0.8s, linear, 1);

        .function{
            color: $grey-slider; 
            text-align: center;
        }
        p{
            text-align: center;
        }
        .email{
            text-decoration: none;
        }
    }


    .emp-btn{
        border: none;
        background: none;
        bottom: 70px;
        display: none; //cacher à l'origine
       .plus-info{
            color: $white;
            font-size: 22px;

            &:hover{
                cursor: pointer;
            }
        }
    }

    &:hover{
        .emp-btn{
            display: block; //montrer le bouton
        }
        img{
            height: 80%;
        }
    }
}

.item-mauritius{
    &:hover{
        background:$purple;
    }
}


.item-ligne{
    &:hover{
        background: $brown-ligneSens;
    }
}

.item-guadeloupe{
    &:hover{
        background: $orange-guadeloupe;
    }
}

.item-martinique{
    &:hover{
        background: $pink-martinique;
    }
}

.item-guyane{
    &:hover{
        background: $green-guyane;
    }
}

.item-reunion{
    &:hover{
        background: $green-reunion;
    }
}

//Responsive styles
@include mediaXs{
    .about{
        margin-top: $sectionspacingSm;
        .about-visible{
            display: block;

            .ligne{
                display: none;
            }
    
            .title-container{
                width: 100%; //style commun à revoir 
                margin-bottom: 25px;
                .title{
                    padding-left: $sectionPaddingXs;
                }
            }
    
            .sectionText{
                padding : 0 $sectionPaddingXs;
                width: 100%; 
            }       
        }

        .about-invisible{
            padding-bottom: 40px; //place le  bouton revenir plus au bas;

    
            .about-branch{
                display: block;
                .fill{
                    display:none;
                }
                .branch-details{
                    width: 100%;
                    padding : 0 $sectionPaddingXs;
    
                    h1{
                        margin-bottom: 20px;
                    }
                }
            }
            .btnUp{
                bottom: 0;
            }

    
        }
    }
}

@include mediaSm{
    .about{
        .sectionText{
            .places-list{
                flex-wrap: wrap;
                justify-content: space-around;
            }
        }
    }

}

@include mediaMd{

}

@include mediaXl{
    .about{
        .about-visible{
            .sectionText{
                .titre{
                    font-size: 32px;
                }
            }
        }
        .about-invisible{    
            .about-branch{
                .branch-details{
                    .titre{
                        font-size: 32px;
                    }
                }
            }     
            .item{
                .employeeInfo{
                    h3{
                        font-size: 20px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@include mediaXxl{
    .about{
        .about-visible{
            .sectionText{
                .titre{
                    font-size: 32px;
                }
            }
        }
        .about-invisible{    
            .about-branch{
                .branch-details{
                    .titre{
                        font-size: 32px;
                    }
                }
            }     
            .item{
                .employeeInfo{
                    h3{
                        font-size: 25px;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}


