@import "Variables.scss";
@import "Commun.scss";



.collaboration{
    margin-top: $sectionspacingLg;
    padding:0px $sectionPaddingLg;
}

//Grand container
.slick-slider{
    margin-top: 70px;
    max-width:100%;
    
    //sous-container
    .slick-list{
        //padding-bottom: 20px; //redescend les boutons au bas
        //Chaque item du slider 
        .slick-slide .clientLogo {
            -webkit-filter: grayscale(100%); //N&B
            filter: grayscale(100%);
            display:block;
            margin:auto;

            //coloré sur hover
            &:hover{
                -webkit-filter: none;
                filter:none;
                //transform:scale(1.1);
            }  
        }
    } 
}



