@import "Variables.scss";

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Times New Roman', Times, serif; //à changer
}

p{
    line-height: $lineHeightLg;
}

.title{
    font-size: 45px;  //TEMP:
    font-weight: lighter;
    span{
        font-size:60px;
        font-weight: bold;
    }
}
.blue-title{
    color: $blue;
}
.orange-title, .orange{ //Géroba 
    color: $orange;
}