@import "Variables.scss";

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: $Helvetica;
}

body{
    font-family: 'Times New Roman', Times, serif; //à changer
}

p, li{
    line-height: $lineHeightLg;
    color: $grey-txt;
}

li{
    margin-left: 15px;
}

.title{
    font-size: 45px;  //TEMP:
    font-weight: lighter;
    span{
        font-size:60px;
        font-weight: bold;
    }
}
.blue-title{
    color: $blue;
}
.orange-title, .orange{ //Géroba 
    color: $orange;
}

//Le style pour les branches 
@mixin logoPays{
    .places-list{
        background: pink;
        margin: 30px 0px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .single-place{
            background: yellow;
            img{
                width: 100%; /* or any custom size */
                height: 100%; 
                object-fit: contain;
                background: green;
            }
            .place-hover{
                display:none;
            }
            &:hover{
                cursor: pointer;
                .placeBW{
                    display:none;
                }
                .place-hover{
                    display:block;
                }
            }
        }  
    }
}


//Style pour le bouton bleu qui rammène la partie affichée 
@mixin buttonClose{
    .btn-up{
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        padding: 8px 10px;
        border: 1px solid $blue;
        border-radius: 50%;
        background: none;
        .arrowUp{
            color: $blue;
        }

        &:hover{
            cursor: pointer;
            background: $blue;
            .arrowUp{
                color: $white;
            }
        }
    }
}