//Les couleurs
$blue-nav: #009FE3; //couleurs liens navbar  
$blue: #008BC5; //titres + bouton envoyer
$blue-footer: #112A41; //bg footer
$purple: #82368C; 
$white: #ffffff;
$black: #000;
$orange: #EB7139; //Géroba
$grey: #797979;  //texte articles
$grey-footer: #616160; //Copyright 

//Dimensions responsives