//Les couleurs
$blue-nav: #009FE3; //couleurs liens navbar  
$blue: #008BC5; //titres + bouton envoyer
$blueactive: #1B9CD9;
$bluedesactive: #009FE3;
$blue-footer: #112A41; //bg footer
$purple: #82368C; 
$white: #ffffff;
$black: #000;
$blck-link: #1D1D1B;
$orange: #EB7139; //Géroba
$grey: #797979;  //texte articles
$grey-slider: #878787; //couleur slider employés
$grey-txt: #575756; //texte à notre propos
$grey-description: #BDBCBC; //texte description pour chaque branche 
$grey-bg: #E2E1E1; //gerobe: innovation
$grey-footer: #616160; //Copyright 
$grey-link: #929292; //navbar notre expertise

//Les branches
$brown-ligneSens: #B17F4A;
$orange-guadeloupe: #EC6608;
$pink-martinique: #CF77AF;
$green-guyane: #2FAC66;
$green-reunion: #00B1AA;


$slidenav2: #727271;
$slidenavfond2: #01224E;

//font-family
$Helvetica: Helvetica;


//Interlignes
$lineHeightSm:20px; 
$lineHeightMd:22px;
$lineHeightLg:24px;
$lineHeightXl:38px;
$lineHeightXxl: 48px;

//Dimension text
$fontsizeSm: 14px; //Mobile
$fontsizeMd: 16px; //iPad Air
$fontsizeLg: 17px; //Desktop
$fontsizeXl: 24px; //Large screens 
$fontsizeXxl: 35px;

//Espace entre chaque section 
$sectionspacingSm: 50px; //écran large
$sectionspacingMd: 60px; //écran large
$sectionspacingLg: 80px; //écran large
$sectionspacingXl: 90px; //écran large

//padding
$sectionPaddingXs: 8px;
$sectionPaddingMd: 15px;
$sectionPaddingLg: 60px;


//animation quand on clique sur une date (horizontal scrooll)
@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}


//Dimensions responsives
// Media Query : Responsive
//Phone
@mixin mediaXs{
    @media screen and (max-width:576px){
        @content;
    }
}

//Portrait tablets & Large phones
@mixin mediaSm {
    @media screen and (min-width: 577px) and (max-width: 768px){
      @content;
    }
}
  
//Tablette & Large phones
@mixin mediaMd {
    @media screen and (min-width: 769px) and (max-width: 992px) {
        @content;
    }
}

//Desktop 
@mixin mediaLg{
    @media screen and (min-width: 993px) and (max-width: 1366px) {
        @content;
    }
}

//Widescreen 
@mixin mediaXl {
    @media screen and (min-width: 1367px) and (max-width: 2559px){
        @content;
    }
}

//4K
@mixin mediaXxl {
    @media screen and (min-width: 2560px) {
        @content;
    }
}
