//Les couleurs
$blue-nav: #009FE3; //couleurs liens navbar  
$blue: #008BC5; //titres + bouton envoyer
$blueactive: #1B9CD9;
$bluedesactive: #009FE3;
$blue-footer: #112A41; //bg footer
$purple: #82368C; 
$white: #ffffff;
$black: #000;
$blck-link: #1D1D1B;
$orange: #EB7139; //Géroba
$grey: #797979;  //texte articles
$grey-slider: #878787; //couleur slider employés
$grey-bg: #E2E1E1; //gerobe: innovation
$grey-footer: #616160; //Copyright 
$grey-link: #929292; //navbar notre expertise

//font-family
$Helvetica: Helvetica;


//Interlignes
$lineHeightLg: 22px;

//Espace entre chaque section 
$sectionspacingLg: 80px; //écran large

//padding
$sectionPaddingLg: 60px;

//Dimensions responsives